/*Footer*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  color: $text-color;
  overflow: hidden;
  //a {
  //  color: $text-color-reversed;
  //  &:hover {
  //    color: darken($text-color-reversed, 15%);
  //  }
  //}
  .footer-top {
	padding: $footer-padding-md;
	@media (max-width: 991px) {
	  padding: $footer-padding-sm;
	}
	.contact-info-box {
	  border-right: 0;
	  margin-right: 0;
	  padding-right: 0;
	  .phone {
		font-weight: 400;
	  }
	}
	img {
	  max-height: 57px;
	}
  }
  .footer-middle {
	h4 {
	  color: $primary-color;
	  margin-bottom: 1.5rem;
	}
	.col-lg-3 {
	  padding: 0;
	  a {
		display: block;
		padding: 3.75rem;
		border: 1px solid $border-color;
		border-left: none;
		height: 100%;
		@include transition(all .3s);
		@media (max-width: 575px) {
		  padding: 2.25rem;
		}
		&:hover {
		  background-color: $text-color-reversed;
		}
		img {
		  margin: 0 auto;
		}
	  }
	  &:first-child {
		a {
		  border-left: 1px solid $border-color;
		}
	  }
	  @media (max-width: 991px) {
		a {
		  border-bottom: none;
		}
		&:nth-child(3) {
		  a {
			border-left: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
		  }
		}
		&:nth-child(4) {
		  a {
			border-bottom: 1px solid $border-color;
		  }
		}
	  }
	  @media (max-width: 575px) {
		a {
		  border: 1px solid $border-color;
		  border-bottom: none;
		}
		&:nth-child(3) {
		  a {
			border-bottom: none;
		  }
		}
		&:nth-child(4) {
		  a {
			border: 1px solid $border-color;
		  }
		}
	  }
	}
  }
  .footer-bottom {
	color: $text-color;
	font-size: .9rem;
	padding: $footer-padding-md;
	@media (max-width: 991px) {
	  padding: $footer-padding-sm;
	}
	a {
	  color: $primary-color;
	}
	.logo {
	  text-align: center;
	  img {
		max-height: 1.5rem;
	  }
	}
	.social-icons {
	  @include flexbox();
	  @include justify-content(center);
	  @include align-items(center);
	  margin: 0 -.5rem;
	  padding-top: .5rem;
	  .icon-holder {
		padding: .5rem;
	  }
	}
	.icon-holder {
	  margin-bottom: .3rem;
	}
	svg {
	  color: $primary-color;
	  margin-top: -.1rem;
	}
	span {
	  margin-left: .5rem;
	  color: $text-color;
	}
	#footer-menu {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  li {
		display: inline-block;
		@media(max-width: 767px) {
		  display: block;
		  text-align: center;
		}
		position: relative;
		margin: 0;
		color: $text-color;
		a {
		  position: relative;
		  display: block;
		  cursor: pointer;
		  color: inherit;
		  margin: 0 .5rem;
		  @media (max-width: 1199px) {
			margin: 0 .7rem;
		  }
		  overflow: hidden;
		  @include transition(color .3s);
		  &:hover {
			color: $primary-color;
		  }
		}
		&.active {
		  color: $primary-color;
		}
	  }
	}
  }
}