/*General*/
html {
  font-size: 100%;
  @media (max-width: 1199px) {
	font-size: 90%;
  }
}
a {
  color: $primary-color;
  outline: 0;
  @include transition(color .3s);
  &:hover {
	color: $secondary-color;
	text-decoration: none;
  }
}
a[href^="tel"]{
  color: inherit;
  text-decoration: none;
}
body {
  @include flexbox();
  @include flex-flow(column);
  min-height: 100vh;
  background: $base-color;
  font-family: $text-font;
  font-size: 1rem;
  font-weight: $normal;
  color: $text-color;
  overflow-x: hidden;
  min-width: 0;
}
h1,h2,h3,h4,h5, h6,
.h1,.h2,.h3,.h4,.h5, .h6{
  font-family: $head-font;
  color: $secondary-color;
  line-height: 1;
  span {
	color: $primary-color;
  }
}
h1,
.h1 {
  font-size: 3.625rem;
  @media (max-width: 767px) {
	font-size: 3rem;
  }
  @media (max-width: 575px) {
	font-size: 2.5rem;
  }
}
h2 {
  font-size: 3.125rem;
  @media (max-width: 767px) {
	font-size: 2.3rem;
  }
}
p {
  line-height: 1.7;
}
main {
  overflow: hidden;
  width: 100%;
  @include flex-grow(1);
  margin-top: $header-sticky-md;
  @media (max-width: 991px) {
	margin-top: $header-sticky-sm;
  }
  & > section {
	&:first-child {
	  padding-top: 2rem;
	  padding-bottom: 0;
	}
  }
}
section {
  padding: $section-padding-md;
}
textarea {
  resize: vertical;
}
