/*Header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: $primary-color;
  background-color: $base-color;
  font-weight: 500;
  z-index: 55;
  &.sticky {
	.desktop-header {
	  .header-top {
		height: 0;
	  }
	  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
	  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
	}
	.mobile-header {
	  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
	  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
	}
	#desktop-menu {
	  height: 90px;
	}
  }
}

/*Desktop header*/
.desktop-header {
  position: relative;
  background-color: transparent;
  @include transition(background-color $transition-time);
  .header-middle {
	position: relative;
	z-index: 3;
	.logo {
	  img {
		height: auto;
		max-height: 1.5rem;
		margin: 0;
		@include transition(all $transition-time);
	  }
	}
  }
  .logo {
	@include flex(1);
  }
  #eshop-menu {
	@include flex(1);
  }
}
.cart-count {
  background: $primary-color;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  display: block;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, -8px);
  font-size: .85rem;
}
#desktop-menu {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 142px;
  @include transition(height 0.3s);
  @include flex(4);
  li {
	display: block;
	position: relative;
	margin: 0;
	color: $primary-color;
	a {
	  position: relative;
	  display: block;
	  cursor: pointer;
	  color: inherit;
	  margin: 0 1.7rem;
	  line-height: 1;
	  @media (max-width: 1199px) {
		margin: 0 .7rem;
	  }
	  text-align: center;
	  text-transform: uppercase;
	  @include transition(color .3s);
	  &:hover {
		color: $primary-color;
	  }
	  &::after {
		content: '';
		position: absolute;
		left: -.6rem;
		top: -.6rem;
		right: -.6rem;
		bottom: -.6rem;
		border-radius: 1rem;
		opacity: 0;
		background-color: $primary-color;
		z-index: -1;
	  }
	}
	&.active {
	  color: $text-color-reversed;
	  a {
		&::after {
		  opacity: 1;
		}
	  }
	  &:hover {
		a {
		  color: $text-color-reversed;
		}
	  }
	}
  }
  .menu-dropdown {
	li {
	  color: $base-color;
	  a {
		min-width: 12rem;
		line-height: 1.5em;
		padding: .5rem 1rem;
		color: inherit;
	  }
	}
  }
}
.menu-dropdown {
  position: absolute;
  left: 50%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $primary-color;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  @include transition(transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s, visibility .2s);
  @include transform(translate3d(-50%, 30px, 0));
  @include transform-origin(50% 0);
  z-index: 120;

  li {
	background: $base-color;
	a {
	  display: block;
	  color: inherit;
	  padding: .5rem 1rem;
	}
  }

  li {
	@include transition(background-color .3s);
	&:hover {
	  background: $primary-color,;
	  color: $text-color-reversed;
	}
  }
}
.menu-dropdown-toggle {
  position: relative;
  &:hover {
	.menu-dropdown {
	  visibility: visible;
	  @include transform(translate3d(-50%, 0, 0));
	  opacity: 1;
	}
  }
  .menu-dropdown-toggle-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.3rem;
  }
}

/*Mobile header*/
.mobile-header {
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0 15px;
  min-width: 0;
  @include transition(all $transition-time);
  .flex-row {
	height: 100%;
	.logo {
	  img {
		max-height: $header-sticky-sm;
		max-width: 80%;
	  }
	}
  }
}
#burger-menu {
  display: none;
  position: fixed;
  top: $header-sticky-sm;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  max-height: calc(100% - #{$header-sticky-sm});
  z-index: 10;
  background: $base-color;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style: none;
  overflow: -moz-hidden-scrollable;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.06);
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
  &::-webkit-scrollbar {
	width: 0;
	display: none;
  }
  &.deactive {
	@include transition(all $transition-time);
	@include transform(translate(100%,0));
  }
  &.active {
	@include transition(all $transition-time);
	@include transform(translate(0,0));
  }
  .burger-menu-inner {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
	  border-top: 1px solid darken($base-color, 5%);
	  color: $text-color;
	  a {
		color: inherit;
		display: block;
		font-size: 1rem;
		padding: 1rem 2rem;
		font-weight: 600;
	  }
	  &.menu-dropdown-toggle {
		.menu-dropdown {
		  display: none;
		  background-color: darken($primary-color, 2%);
		  li {
			text-align: left;
			background-color: inherit;
			border: none;
			a {
			  color: $base-color;
			}
		  }
		}
	  }
	  &.active {
		background: $primary-color;
		color: $base-color;
		a {
		  background: inherit;
		  color: inherit;
		}
	  }
	}
  }
  .menu-dropdown {
	position: relative;
	visibility: visible;
	@include transform(translate3d(-50%, 0, 0));
	opacity: 1;
  }
  .menu-dropdown-toggle {
	.menu-dropdown-toggle-mobile {
	  display: block;
	  color: inherit;
	  cursor: pointer;
	  &.open {
		transform: rotate(180deg);
	  }
	}
  }
}
#nav-icon{
  width: 30px;
  height: 24px;
  @include transform(rotate(0deg));
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
	display: block;
	position: absolute;
	border-radius: 10px;
	height: 4px;
	width: 100%;
	background: $primary-color;
	opacity: 1;
	left: 0;
	@include transform(rotate(0deg));
	@include transition(top .15s ease .15s, transform .15s ease);
	&:nth-child(1) {
	  top: 0;
	}
	&:nth-child(2) {
	  top: 10px;
	}
	&:nth-child(3) {
	  top: 20px;
	}
  }
  &.open span {
	transition-delay: 0s, 0.15s;
	&:nth-child(1) {
	  top: 10px;
	  @include transform(rotate(45deg));
	}
	&:nth-child(2) {
	  background: transparent;
	}
	&:nth-child(3) {
	  top: 10px;
	  @include transform(rotate(-45deg));
	}
  }
}