/*Base Utilities*/
.xs-block {
  display: none;
}
.xs-none {
  display: block;
}
.container-inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.subheading {
  max-width: 39rem;
  margin: 0 auto;
}
.text-lg {
  font-size: 1.125rem;
}
.color-secondary {
  color: $secondary-color;
}