#add-to-cart-fixed-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 6rem;
  @include transform(translate3d(0, 5rem, 0));
  @include transition(all $transition-time);
  z-index: 55;
  &.active {
	@include transform(translate3d(0, 0, 0));
  }
  &:hover {
	.input-group {
	  opacity: 1;
	  visibility: visible;
	  pointer-events: auto;
	  width: 8rem;
	  height: auto;
	  margin: 0 .5rem;
	}
	.own-btn {
	  width: 13rem;
	  @media (max-width: 767px) {
		width: 3.125rem;
	  }
	}
	.own-btn-text {
	  opacity: 1;
	  visibility: visible;
	  pointer-events: auto;
	}
  }
  .add-to-cart-holder {
	@include align-items(center);
	@include justify-content(flex-end);
  }
  .input-group {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
	@include transition(opacity .3s);
	@media (max-width: 767px) {
	  display: none;
	}
  }
  .own-btn{
	font-size: 2rem;
	width: 3.125rem;
	height: 3.125rem;
	line-height: 3.125rem;
	padding: 0;
	box-shadow: none;
	text-align: left;
	@include transition(all .3s);
	svg {
	  width: 1.5rem;
	  height: 1.5rem;
	  margin-top: -.3rem;
	  margin-left: -.2rem;
	}
  }
  .icon-holder {
	width: 3rem;
	text-align: center;
  }
  .own-btn-text {
	position: absolute;
	top: 53%;
	left: 72%;
	display: inline-block;
	font-size: 1rem;
	width: 100%;
	white-space: nowrap;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	@include transform(translate(-50%,-50%));
	@include transition(opacity .3s);
	@media (max-width: 767px) {
	  display: none;
	}
  }
}