#addItemToShoppingCart {
  cursor: pointer;
}
.add-to-cart-holder {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @media (max-width: 991px) {
	@include justify-content(center);
  }
  margin: 0 -.5rem;
  .input-group {
	margin: .5rem;
	.input-group-prepend {
	  button {
		border-radius: 2rem 0 0 2rem;
		overflow: hidden;
	  }
	}
	.input-group-append {
	  button {
		border-radius: 0 2rem 2rem 0;
		overflow: hidden;
	  }
	}
  }
  .own-btn {
	margin: 0 .5rem;
  }
}