.cart {
  input[type=radio]{
	position: absolute;
	opacity: 0;
	left: 20px;
	top: -1px;
	z-index: 6;
	height: 20px;
	width: 20px;
	cursor: pointer;
  }
  .check{
	display: block;
	position: absolute;
	background-color: rgba($primary-color, .2);
	border-radius: 100%;
	height: 20px;
	width: 20px;
	top: 3px;
	left: 0;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
  }

  .check::before {
	display: block;
	position: absolute;
	content: '';
	left: 7px;
	top: 3px;
	width: 7px;
	height: 11px;
	border: solid transparent;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  input[type=radio]:checked ~ .check {
	background-color: $primary-color;
  }
  input[type=radio]:checked ~ .check::before{
	border-color: $text-color-reversed;
  }
  input[type=radio]:checked ~ label{
	font-weight: bold;
	color: $primary-color;
  }
  input[type=radio] ~ label{
	padding-left: .5rem;
	cursor: pointer;
  }
  input[type=radio]:disabled ~ label{
	opacity: .5;
	pointer-events: none;
	user-select: none;
  }
  .table {
	max-width: 78rem;
	margin: 0 auto;
  }
  .table th,
  .table td {
	vertical-align: middle;
	border-top: 1px solid $base-color;
  }
  .table th {
	border-top: none;
  }
  .table thead th {
	color: $primary-color;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1px solid $base-color;
  }
  .table tfoot tr td{
	color: $primary-color;
	font-weight: 600;
	border-top: 1px solid $base-color;
  }
  .table {
	.own-btn {
	  padding: .3rem .5rem;
	  min-width: auto;
	}
  }
  .img-wrap {
	position: relative;
	padding-top: 100%;
	width: 100%;
	min-width: 2rem;
	@media (max-width: 991px) {
	  padding-top: 50%;
	  width: 50%;
	  margin: 0 auto;
	}
	img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }
  .white-bg-box {
	max-width: 78rem;
	margin: 0 auto;
	.cart-form {
	  .form-control {
		border: 1px solid $border-color;
		border-radius: 1rem;
		overflow: hidden;
		height: calc(1.5em + 1rem + 2px);
		&:focus {
		  border-color: $primary-color;
		  box-shadow: none;
		}
	  }
	}
  }
}
.payment-wrap {
  label {
	width: 100%;
	@include flexbox();
	span {
	  margin-left: auto;
	  display: inline-block;
	  font-weight: bold;
	  white-space: nowrap;
	}
  }
}
.total-price {
  width: 5rem;
  display: inline-block;
}

@media (max-width: 991px) {
  .cart {
	.table thead {
	  display: none;
	}
	.table tbody tr td {
	  display: block;
	  width: 100%;
	  border-top: 0 !important;
	}
	.table tbody tr {
	  display: flex !important;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  border-bottom: 1px solid #ededed !important;
	  text-align: center;
	  padding-top: 1.5rem;
	  padding-bottom: 1.5rem;
	}
	.table tfoot tr td {
	  display: block;
	  width: 100%;
	  border-top: 0 !important;
	  padding: 0;
	}
	.table tfoot tr {
	  display: flex !important;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  padding: 1rem;
	}
	.input-group {
	  margin: 0 auto;
	}
	&.summary {
	  .table tbody tr td {
		padding: 0;
	  }
	}
  }
}
@media (max-width: 767px) {
  .cart-footer {
	@include flexbox();
	@include flex-wrap(wrap);
	@include flex-direction(column-reverse);
	@include align-items(center);
  }
}