#modalAddItemToCartContent {
  padding: 5rem 2rem;
  @media (max-width: 991px) {
	padding: 3rem 1rem 1rem 1rem;
	.img-fluid {
	  max-width: 11rem;
	}
  }
}
.modal-content {
  border-radius: 4rem;
  @media (max-width: 991px) {
	border-radius: 2rem;
  }
  background: $base-color;
}
button.close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  @media (max-width: 991px) {
	top: 1rem;
	right: 1rem;
  }
  font-size: 1.5rem;
  color: $text-color-reversed;
  background: $primary-color;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  opacity: 1;
  font-weight: normal;
  &:focus {
	outline: none;
  }
}