.productItemImg {
  position: relative;
  padding-top: 75%;
  width: 100%;
  img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
}