#progress-bar-holder {
  margin: 3rem 2.5rem;
  li {
	a,
	.disabled {
	  position: absolute;
	  top: 50%;
	  right: 0;
	  width: 4.5rem;
	  height: 4.5rem;
	  @media (max-width: 991px) {
		width: 4rem;
		height: 4rem;
		svg {
		  width: 2rem;
		  height: 2rem;
		}
	  }
	  background-color: #c0d586;
	  padding: 1rem;
	  text-align: center;
	  border-radius: 50%;
	  color: $text-color-reversed;
	  transform: translate(50%, -50%);
	  z-index: 3;
	}

	&.active {
	  a,
	  .disabled {
		background-color: $primary-color;
	  }
	}
	a {
	  @include transition(background-color .3s);
	  &:hover {
		background-color: $secondary-color;
	  }
	}
  }
  &:hover {
	a {
	  background-color: $secondary-color;
	}
  }

  .progress-bar {
	width: 33.33%;
	height: 10px;
	background: rgba($primary-color, .5);
	position: relative;

	&:after {
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background: $primary-color;
	  z-index: 2;
	  opacity: 0;
	}

	&.active {
	  &:after {
		opacity: 1;
	  }
	}

	&:first-child {
	  width: 0;
	}
  }
}