.alert-box {
  -webkit-animation-name: fadeInAlert;
  animation-name: fadeInAlert;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}