@-webkit-keyframes fadeInAlert {
  0% {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
  }
  20%,
  80% {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100% {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
  }
}
@keyframes fadeInAlert {
  0% {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
  }
  20%,
  80% {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100% {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
  }
}

@-webkit-keyframes rotate {
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
  }
  50% {
	stroke-dasharray: 90, 200;
	stroke-dashoffset: -35px;
  }
  100% {
	stroke-dashoffset: -125px;
  }
}

@keyframes dash {
  0% {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
  }
  50% {
	stroke-dasharray: 90, 200;
	stroke-dashoffset: -35px;
  }
  100% {
	stroke-dashoffset: -125px;
  }
}

@-webkit-keyframes blinkIn{
  0%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 1;}
}

@keyframes blinkIn{
  0%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 1;}
}

@-webkit-keyframes blinkOut{
  0%{opacity: 1;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes blinkOut{
  0%{opacity: 1;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}