*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1 {	
	color:#a90329;
}

h2{

}

h3 {

}


h4 {

}

a{
	color:#000000;
}

a:hover{
	text-decoration:none;
	color:#222222;
}

a:visited{
	text-decoration:none;
}

body {
	background-color: #eff3f6 !important;
}

header {
	width: 100%;
	height:85px;
	position: fixed;
	top:0px;
	z-index:1000;
}

footer{
	margin-top: 30px;
	position:relative;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	text-align: center;
	color:#ffffff;
}

footer a{
	color:#ffffff;
}

footer a:hover{
	color:#bbbbbb;
}

.container {
	width:1300px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a90329; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8f0222; 
}

.link {
	color:#0275d8;
}

.cookies {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 2px solid #a90329;
    z-index: 505;
}

.oou-link a{
	color:#0275d8;
}

.footer-top {
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	padding-top:20px;
	padding-bottom:20px;
	text-align:left;
}

.footer-top h2{
	font-size: 22px;
}

.footer-top p{
	margin-bottom:0px;
}

.footer-bot {
	padding-bottom:8px;
	padding-top:8px;
	background:#222222;
}

textarea {
	resize: vertical;
}

#productAdminPhotos {
	margin-left:-10px !important;
	margin-right:-10px !important;
}

.logo {
	font-weight:bold;
	letter-spacing: 2px;
	color:#ffffff !important;
	padding:0px !important;
	font-size: 32px;
}

.richText-toolbar ul {
	margin-bottom:0px !important;
	padding-left:0px !important;
}

.productSmallPhoto{
	cursor:pointer;
}

.top-bar {
	height:36px;
	background-color: #222222;
}

.top-bar-item {
	padding:7px;
	display:inline-block;
	color:#adadad;
	text-decoration: none;
}

.top-bar-item:hover{
	padding:7px;
	display:inline-block;
	color:#919191;
	text-decoration: none;
}

.auth-form {
	width:400px;
	margin:auto;
	padding:20px;
	background-color:#ffffff;
	margin-top:50px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.auth-form h1{
	font-size:25px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 15px;
}

.photoSortable {
	padding:10px !important;
	cursor: move;
}

.headerMenuCart {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	font-weight: bold !important;
}

.removeImageFromAlbum {
	position:absolute;
	top:0px;
	right:0px;
	cursor: pointer;
}

.fileContainer_label {
    cursor: inherit;
    display: block;
    height: 300px;
	padding-top:110px;
    width: 100%;
	opacity:1;
	left:15px;
	background-color:#dddddd;
	z-index:0;
	text-align:center;
}

.fileContainer {
    cursor: inherit;
    display: block;
    height: 300px;
	margin-top:-300px;
    width: 100%;
	opacity:0;
	left:15px;
	z-index:100;
}

.cardBody {
	margin-left:265px;
}

.sideMenu {
    background-color: #ffffff;
    color: #000000;
    position: absolute !important;
    top: 0px;
	width:250px;
	bottom: 0px;
    overflow-y: auto;
    z-index: 500;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.sideMenu ul{
	list-style: none;
    font-size: 16px;
	padding:0px;
	margin-bottom:0;
}

.sideMenu a{
	text-decoration:none;
	color:#292b2c;
}

.sideMenu a:hover{
	text-decoration:none;
}

.sideMenu a:hover li{
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	color:#ffffff;
}

.sideMenuMuted {
	padding: 10px;
	display:block;
	color:#adadad;
	background-color:#eceeef;
}

.categoryShevron {
	font-size: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding-left: 3px;
	display: inline-block;
}

.categoryShevronEmpty {
    width: 16px;
    height: 16px;
    background-color: transparent;
	display: inline-block;
}

.headCategory {
	background: #C31D43;
    background: -moz-linear-gradient(top, #C31D43 0%, #A91C3C 44%, #871A33 100%);
    background: -webkit-linear-gradient(top, #C31D43 0%,#A91C3C 44%,#871A33 100%);
    background: linear-gradient(to bottom, #C31D43 0%,#A91C3C 44%,#871A33 100%);
	padding:10px;
	color:#fff;
	text-transform:uppercase;
}

/* .headCategory-1{ */
	/* background: linear-gradient(#20C9C3 0%, #1e5799 100%); */
	/* color: #fff; */
/* } */

/* .headCategory-2{ */
	/* background: linear-gradient(#F79E05 0%, #E07436 100%); */
	/* color: #fff; */
/* } */

/* .headCategory-3{ */
	/* background: linear-gradient(#9BC90D 0%, #79A70A 100%); */
	/* color: #fff; */
/* } */

/* .headCategory-4{ */
	/* background: linear-gradient(#FFD700 0%, #FF8C00 100%); */
	/* color: #fff; */
/* } */

.subCategory {
	padding-left:10px;
	padding-top:3px;
	padding-bottom:3px;
}

.filter {
	padding-top:20px;
}

.breadcumbs {
	/* color: */
}

.breadcumbs a{
	color:#a90329;
}

.breadcumbs a:hover{
	text-decoration:underline;
}

.categoryActive {
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	color:#ffffff;
}

.page_header{
	border:1px solid #eceeef;
	padding:20px;
	background-color: #ffffff !important;
}

.admin_menu li{
	padding:10px;
}

.menu__link li{
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
}

.page_header_title {
	color: #a90329;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
	margin-bottom:0px;
}

.productShortDesc {
	font-size: 13px;
}

.productItem {
	border:1px solid #eceeef;
	background-color:#ffffff;
	margin-top:10px;
	height: 550px;
}

.productItemImg {
	height:200px;
	overflow:hidden;
	padding:15px;
	text-align: center;
}

.productItemImg .img-fluid {
	height: 100%;
}

.product-search-btn {
	border:none;
	border-radius:0px;
}

.buttonResetFilter {
	border:none;
	border-radius:0px;
	background-color:#adadad;
}

.productItemRatingEmptyStars {
	font-size:20px;
}

.productItemHeader {
	padding:15px;
	font-weight:500;
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

.productItemHeader h2 {
	color:#ffffff;
	padding:0px;
	margin:0px;
	font-weight:500;
	font-size:20px;
}

.productItemHeader a{
	color:#ffffff;
}

.productItemPrice {
	bottom: 0;
    position: absolute;
	padding:0px 15px 15px 15px;
}

.productItemDescription {
	padding:15px;
}

.productItemDescription p{
	margin-bottom:0px;
}

.productItemPrice p{
	margin-bottom:0px;
}

.productItemPrice .price{
	font-size:22px;
	font-weight:bold;
}

.lastPrice {
	font-size:20px !important;
}

.price {
	color:#a90329 !important; 
	font-size:30px !important;
	font-weight:bold !important;
}

.table-no-first-border tbody tr:first-child td{
	border-top:none !important;
}

.btn-cart{
	color:#ffffff;
	cursor:pointer;
	border-radius:0px;
	border:none;
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

.btn-empty{
	cursor:pointer;
	color:#a90329;
	background: #ffffff; 
	border:none;
}

.modalCartPrice {
	font-size:22px;
	font-weight:bold;
}

.modalCartName {
	color:#a90329;
}

.modal-content{
	border-radius:0px;
	border:none;
}

.modal-header {
	color:#ffffff;
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #f3f3fa;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-control {
	border: 2px solid #a90329;
	border-radius: 0;
}

.ui-slider .ui-slider-handle {
    border: none;
    background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    top: -.5rem;
    border-radius: 0px;
}

.ui-slider {
    height: .2rem;
    border: none !important;
    background: #f3f3fa;
    margin: 10px;
}

.ui-slider .ui-slider-range {
    background: #a90329;
    border-radius: 0;
    border: none;
}

.alert_box {
	position:relative;
	top:-35px;
	left:12px;
	background-color: #fa3e3e;
    border-radius: 24px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    right: -4px;
    text-align: center;
    -webkit-user-select: none;
    width: 20px;
}

.alert_box_blue {
	position:relative;
	top:-35px;
	left:12px;
	background-color: #5bc0de;
    border-radius: 24px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    right: -4px;
    text-align: center;
    -webkit-user-select: none;
    width: 20px;
}

.thead-fancy {
	background-color: #f5f8fa;
	color: #636463;
}

.thead-fancy tr th{
	border-top:none;
	font-weight: normal;
	font-size:14px;
}

.thead-fancy tr {
	border-left:1px solid #eceeef;
	border-right:1px solid #eceeef;
}

.thead-fancy-border-top {
	border-top:1px solid #eceeef;
}

.tbody-fancy tr {
	border-left:1px solid #eceeef;
	border-right:1px solid #eceeef;
	background-color: #ffffff !important;
}

.tbody-fancy tr:last-child {
	border-bottom:1px solid #eceeef;
}

.tbody-fancy tr:hover {
	background-color:#e6e6e6 !important;
}

.tfoot-fancy {
	background-color:#ffffff;
}

.tfoot-fancy tr{
	background-color:#e6e6e6;
	border-left:1px solid #eceeef;
	border-right:1px solid #eceeef;
	border-bottom:1px solid #eceeef;
}

.dashboard_box {
	padding:10px;
}

.dashboard_box h2 {
	margin-left:50px;
	margin-top:-42px;
	padding-left:15px;
	font-size:28px !important;
}

.dashboard_box p{
	text-align:center;
	margin-bottom:5px;
}

.fancy_box {
	border:1px solid #eceeef;
	background-color:#ffffff;
}

.fancy_box_2 {
	border-left:1px solid #eceeef;
	border-right:1px solid #eceeef;
	border-bottom:1px solid #eceeef;
	background-color:#ffffff;
	padding:15px;
}

.productSimilarItem {
	padding:5px 10px 5px 10px;
	margin-right:10px;
	border: 1px solid #888888;
	margin-top:13px;
	background-color:#ffffff;
	display:inline-block;
}

.productSimilarRemove {
	position:relative;
	left:3px;
}

.categorySortableItem {
	padding:10px 10px 5px 10px;
	border: 1px solid #888888;
	margin-bottom:10px;
	background-color:#ffffff;
	cursor: move;
}

.categorySortableItem:hover {
	background-color:#f8f8f8;
}

.categorySortableChild {
	margin-top:15px;
	margin-bottom:10px;
	min-height:20px; 
	background-color:#eeeeee;
	outline: 1px dashed #888888;
	outline-offset: -1px;
}

.categoryNameText {
	font-weight:bold;
	font-size:19px;
}

.categoryOptionButtons {
	position:absolute;
	top:10px;
	right:10px;
}

.ui-autocomplete { position: absolute; cursor: default;z-index:3000 !important;} 

.ui-state-highlight { 
	height: 50px; 
	line-height: 1.2em; 
	margin-bottom:10px;
}

.with-errors {
	color: #ff0000;
}

.full {
    width: 100% !important;
}

.main_content {
	margin-top:49px;
}

.content {
	min-height: calc(100vh - 317px);
	margin-top:103px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

.border-none {
	border: none !important;
}

.left {
    position: absolute;
    left: 0px;
}

.right {
	position: absolute !important;
    right: 0px !important;
}

.background-grey {
	background-color:#eeeeee;
}

.padding-top-table-form {
	padding-top:14px !important;
}

.margin-sides-15  {
	margin-left:15px !important;
	margin-right:15px !important;
}

.margin-sides-20  {
	margin-left:20px !important;
	margin-right:20px !important;
}

.margin-top-5  {
	margin-top:5px;
}

.margin-top-7  {
	margin-top:7px;
}

.margin-top-10  {
	margin-top:10px;
}

.margin-top-15  {
	margin-top:15px;
}

.margin-top-20  {
	margin-top:20px;
}

.margin-top-25  {
	margin-top:25px;
}

.margin-top-30  {
	margin-top:30px;
}

.margin-top-45 {
	margin-top:45px;
}

.margin-top-48 {
	margin-top:48px;
}

.margin-top-60  {
	margin-top:60px;
}

.margin-bot-15  {
	margin-bottom:15px;
}

.margin-bot-20  {
	margin-bottom:20px;
}

.margin-bot-30  {
	margin-bottom:30px;
}

.margin-bot-50  {
	margin-bottom:50px;
}

.margin-bot-90  {
	margin-bottom:90px;
}

.margin-bot-100  {
	margin-bottom:100px;
}

.margin-bot-150  {
	margin-bottom:110px;
}

.margin-right-5 {
	margin-right:5px;
}

.margin-right-10 {
	margin-right:10px;
}

.margin-right-15 {
	margin-right:15px;
}

.margin-right-20 {
	margin-right:20px;
}

.margin-left-10 {
	margin-left:10px;
}

.margin-left-15 {
	margin-left:15px;
}

.margin-left-20 {
	margin-left:20px;
}

.xs-block {
	display:none;
}

.xs-none {
	display:block;
}

.xs-table-header-none {
	display:table-header-group;
}

.white {
	color:#ffffff;
}

.padding-sides-5 {
	padding-left:5px !important;
	padding-right:5px !important;
}

.padding-20 {
	padding:20px !important;
}

.padding-left-15 {
	padding-left:15px;
}

.padding-left-20 {
	padding-left:20px;
}

.padding-right-20 {
	padding-right:20px;
}

.padding-right-50 {
	padding-right:50px;
}

.padding-bottom-20{
	padding-bottom:20px;
}

.padding-bottom-30{
	padding-bottom:30px;
}

.padding-bottom-50{
	padding-bottom:50px;
}

.no-padding-margin{
	padding:0px !important;
	margin:0px !important;
}

.nopadding{
	padding-left:0px !important;
	padding-right:0px !important;
}

.nopadding-left{
	padding-left:0px !important;
}

.nopadding-right{
	padding-right:0px !important;
}


#nav-icon1 {
  width: 40px;
  height: 35px;
  position: fixed;
  top:10px;
  right: 105px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 5px;
}

#nav-icon1 span:nth-child(2) {
  top: 17px;
}

#nav-icon1 span:nth-child(3) {
  top: 29px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

nav,
nav ul,
nav li, nav a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
}
nav {
	height:50px;
	background: #a90329; 
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}
nav ul {
  zoom: 1;
  text-align:center;
  list-style: none;
  position: relative;
  display: block;
}
nav ul:before {
  content: '';
  display: block;
}
nav ul:after {
  content: '';
  display: block;
  clear: both;
}
nav a,
nav a:link,
nav a:visited {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

nav  span {
	font-size: 20px;
}

nav a:hover {
  color: #bbbbbb;
}

nav li {
  float: left;
}

.novinkaTag {
  position: absolute;
  right: 0px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.novinkaTag span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#20C9C3 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.novinkaTag span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.novinkaTag span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.zlavaTag {
  position: absolute;
  right: 0px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.zlavaTag span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.zlavaTag span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.zlavaTag span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.poslednyKusTag {
  position: absolute;
  right: 0px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.poslednyKusTag span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #E07436 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.poslednyKusTag span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #E07436;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E07436;
}
.poslednyKusTag span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #E07436;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E07436;
}

.vypredaneTag {
  position: absolute;
  right: 0px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.vypredaneTag span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#B6BAC9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.vypredaneTag span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.vypredaneTag span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}

.vypredajTag {
  position: absolute;
  right: 0px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.vypredajTag span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.vypredajTag span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.vypredajTag span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.topTag {
  position: absolute;
  right: 0px; top: 5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.topTag span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FFD700 0%, #FF8C00 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.topTag span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #FF8C00;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FF8C00;
}
.topTag span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #FF8C00;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FF8C00;
}

/*slider*/
.fade-carousel,
#sliderSubpage,
#sliderSubpage .item {
    position: relative;
    height: 600px;
}
.sliderGaleria {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/fotogaleria.jpg'); 
}
.sliderKontakt {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/kontakt.jpg'); 
}
.fade-carousel .carousel-inner .item {
    height: 600px;
}
.fade-carousel .carousel-indicators {
	height: 10px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #fff;
    border-color: #fff;
    opacity: .7;
    transition: all .3s;

}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1,
#sliderSubpage h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s; 
        -ms-transition: 1s all ease-in-out .1s; 
         -o-transition: 1s all ease-in-out .1s; 
            transition: 1s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s; 
        -ms-transition: 1s all ease-in-out .1s; 
         -o-transition: 1s all ease-in-out .1s; 
            transition: 1s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/*kategorie main page*/
#categories .workItem {
	padding: 5px !important;
}
#categories .workItem a {
    position: relative;
    display: block;
}
#categories .workOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all .5s;
    padding: 25px;
    text-align: center;
    color: #fff;
}
#categories .workItem a:hover .workOverlay {
	opacity: .7;
}

/*referencie main page*/
#services {
    background: #f9f9f9;
}
#services i {
	text-align: center;
    border: 1px solid #1DA680;
    border-radius: .3em;
    font-size: 30px;
    padding: 12px 0;
    width: 56px;
    color: #1DA680;
    margin-bottom: 20px;
    transition: all .5s;
}
#services .iconbox:hover .iconbox-icon .fa{
	background: #1DA680;
    color: #fff;
}

.sideMenuXSPlaceholder {
	display:none;
}

.productItemRowMargin{
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.xs-search{
	display:none;
}

.xs-cart {
	display:none;
}

.xs-table {
	display:none;
}

.modalCartQuantity {
	font-size: 20px;	
}

.modalCartName {
	font-size: 20px;
}

.sm-none {
	display:block;
}

.sm-block {
	display:none;
}

@media screen and (max-width: 1024px) {
	#searchTextInput {
		 width: 80px;
	}
	
	#nav-icon1 {
		top: 41px;
		right: 304px;
	}
	
	.sm-block {
		display:block;
	}
	
	.sm-none {
		display:none;
	}

}

   

@media screen and (max-width: 740px) {
    header {
		padding:5px;
		height: 61px;
		background: #a90329; 
		background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); 
		background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
		background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
		color:#ffffff;
	}
	
	#nav-icon1 {
		top: 10px;
		right: 105px;
	}
	
	nav {
		padding-right:0px;	
	}
	
	nav a{
		font-size:14px !important;
	}
	
	nav a,
	nav a:link,
	nav a:visited {
		padding-top: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	nav  span {
		font-size: 14px;
		padding-top:2px;
	}
	
	.logo{
		margin-left: 15px;
		font-size: 20px;
	}
	
	.modal-dialog {
		margin: 0px;
	}
	
	.cartTableXs {
		
	}
	
	.xsCartTfoot {
		display:block;
	}
	
	.xsCartTfoot tr{
		display:block;
	}
	
	.cartTableXs td{
		display:block;
	}
	
	.xs-table {
		display: inline-block;
		width: 50%;
	}
	
	.xs-cart {
		right: 0;
		display: block;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
		background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
		background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
		background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
		background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
		background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
		background-color: #89c403;
		position: fixed;
		top: 0;
		height: 61px;
		padding: 19px 12px;
		color: #ffffff;
	}
	
	.xs-cart  a{
		color: #ffffff;
	}
	
	.xsBockTable{
		display:block;
	}
	.xsTableFooterCaption{
		display:table-caption;
	}
	
	.xs-search{
		display: block;
		position: fixed;
		top: 55px;
		left: 0;
		right: 0;
		margin-right:-20px;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(169,3,41,0.2);
		-moz-box-shadow: 0px 2px 5px 0px rgba(169,3,41,0.2);
		box-shadow: 0px 2px 5px 0px rgba(169,3,41,0.2);
	}
	
	.xs-search .input-group {
		height: 48px;
	}
	
	.cardBody {
		margin-left: 0;
	}
	
	.headCategory {
		padding: 12px;
	}
	
	.productItemRowMargin{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	
	.productItem {
		height: 430px;
	}

	
	.subCategory {
		padding-left: 15px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	.sideMenuXSPlaceholder {
		display:block;
		height:48px;
		background-color:#222222;
		color:#ffffff;
		padding: 12px;
		width: 100%;
		position: fixed;
		top: 108px;
		z-index: 555;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(169,3,41,0.2);
		-moz-box-shadow: 0px 2px 5px 0px rgba(169,3,41,0.2);
		box-shadow: 0px 2px 5px 0px rgba(169,3,41,0.2);
	}
	
	.padding-sides-5 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	.productItemImg {
		height: 150px;
		width: 100%;
		padding: 5px;
	}
	
	#cena {
		position: fixed;
		right:20px;
		top:50px;
		height:30px;
		width:120px;
		background-color:#228822;
		font-weight:bold;
		font-size:15px;
		text-align:center;
		padding-top:4px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	#burger_menu {
		position:fixed;
		top:60px;
		left:0px;
		right:0px;
		width:100%;
		background-color:#222222;
		z-index: 55;
	}
	
	#burger_menu  a{
		text-decoration: none !important;
	}
	
	.auth-form {
		width:100%;
	}
	
	.sideMenu{
		top: 6px;
		width: 100%;
		display: none;
		bottom: auto;
	}
	
	.content {
		margin-top: 150px;
	}
	
	.burger_option {
		color:#ffffff;
		height:48px;
		padding-left:10px;
		padding-top:12px;
	}
	
	.margin-top-30  {
		margin-top:0px;
	}
	
	.margin-top-60  {
		margin-top:0px;
	}
	
	.nopadding-small {
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
	.page_header_title {
		font-size: 20px;
		width: 50%;
	}
	
	.xs-padding-bot-15 {
		padding-bottom:15px;
	}
	
	.margin-bot-100  {
		margin-bottom:15px;
	}
	
	.xs-block {
		display:block;
	}

	.xs-none {
		display:none !important;
	}
	
	.xs-table-header-none {
		display:none !important;
	}
	
	.none {
		display:none;
	}
	
	.flip {
		letter-spacing:0px;
	}

	.inline-block {
		display:inline-block !important;
	}
	
	.border-top-none-xs {
		border:none !important;
	}
	
	.padding-bot-xs-11 {
		padding-bottom:11px !important;
	}
	
	.margin-xs-5 {
		margin-top:5px;
		margin-bottom:5px;
	}
	
}

@media (max-width: 992px) {
	.container {
		width: 960px !important;
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.container {
		width: 720px !important;
		max-width: 100%;
	}
	.px-md-0 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@media (max-width: 576px) {
	.container {
		width: 540px !important;
		max-width: 100%;
	}
}



