/*Media Queries*/
@media (min-width: 1366px) {
  .container {
	max-width: 1306px;
  }
  .container-inner {
	max-width: 1214px;
  }
}
@media (min-width: 1440px) {
  .container {
	max-width: 1410px;
  }
  .container-inner {
	max-width: 1318px;
  }
}
@media (min-width: 1600px) {
  .container {
	max-width: 1540px;
  }
  .container-inner {
	max-width: 1448px;
  }
}
//@media (min-width: 1800px) {
//  #slider {
//	.container {
//	  max-width: 1740px;
//	}
//  }
//}
//@media (min-width: 2000px) {
//  #slider {
//	.container {
//	  max-width: 1940px;
//	}
//  }
//}
@media (max-width: 991px) {
  section {
	padding: $section-padding-sm;
  }
  header {
	height: $header-sticky-sm;
  }
  .xs-block {
	display: block;
  }
  .desktop-header {
	display: none;
  }
  .mobile-header {
	display: block;
  }
}