/*Alert*/
.alert-box {
  width: 30rem;
  max-width: calc(100% - 3.5rem);
  height: auto;
  max-height: 200px;
  min-height: 50px;
  position: fixed;
  bottom: 1.75rem;
  right: 1.75rem;
  margin-bottom: 0;
  z-index: 9999;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background: $alert-primary-color;
  color: $alert-text-color;
  border-radius: .3rem;
  border: none;
  overflow: hidden;
  padding: 1.2rem;
  transition: background-color .3s;
  .card-head {
	position: relative;
	svg {
	  width: 1.5rem;
	}
	.title {
	  display: inline-block;
	  font-size: 1.3rem;
	  line-height: 1.1;
	  padding-left: .55rem;
	  font-weight: 400;
	  margin-bottom: .5rem;
	}
	p {
	  font-size: 1rem;
	  padding-left: 1.8rem;
	  margin-bottom: 0;
	  color: inherit;
	}
	.close-alert {
	  position: absolute;
	  top: 0;
	  right: 0;
	  text-align: center;
	  cursor: pointer;
	}
  }
}


@each $alert-box, $color in $alert-colors {
  .alert-box {
	&.#{$alert-box} {
	  background-color: $color;
	  &:hover {
		background-color: lighten($color, 5%);
	  }
	}
  }
}
