#up {
  position: fixed;
  right: 0;
  bottom: 0;
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 1.5rem;
  color: $text-color-reversed;
  background-color: $secondary-color;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  @include transform(translate3d(0, 5rem, 0));
  @include transition(all $transition-time);
  z-index: 555;
  svg {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: -.5rem;
  }
  &.active {
	@include transform(translate3d(0, 0, 0));
  }
  &:hover {
	background: $tertiary-color;
  }
}