#how-it-works {
  background-image: url("../../images/ako-to-funguje-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 15rem;
  @media (max-width: 991px) {
	padding-top: 3rem;
	background-image: none;
  }
}