/*Buttons*/
.own-btn {
  display: inline-block;
  position: relative;
  color: $text-color-reversed;
  background-color: $primary-color;
  padding: 1.3rem 1.8rem;
  text-align: center;
  font-size: .875rem;
  font-weight: 500;
  font-family: $text-font;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid $primary-color;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  @include transform(perspective(1px) translateZ(0));
  @include transition(background-color .3s, color .3s);
  svg {
	width: 1rem;
	height: 1rem;
  }
  &.icon-right {
	.icon-holder {
	  margin-left: .5rem;
	}
  }
  &.icon-left {
	.icon-holder {
	  margin-right: .5rem;
	}
  }
  &::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 50%;
	opacity: .3;
	background: -moz-linear-gradient(top, rgba(0,111,48,0.65) 0%, rgba(0,111,48,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,111,48,0.65) 0%,rgba(0,111,48,0) 100%);
	background: linear-gradient(to bottom, rgba(0,111,48,0.65) 0%,rgba(0,111,48,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6006f30', endColorstr='#00006f30',GradientType=0 );
  }
  &:focus {
	outline: 0;
  }
  &:hover {
	background-color: darken($primary-color, 5%);
	color: $text-color-reversed;
  }
}
@each $button, $color in $colors {
  .own-btn {
	&.#{$button} {
	  color: $base-color;
	  background-color: $color;
	  min-width: 10rem;
	  &:hover {
		color: $base-color;
		background-color: $primary-color;
	  }
	}
  }
}

.own-btn {
  &.transparent {
	box-shadow: none;
	color: $primary-color;
	&::before {
	  display: none;
	}
  }
}