/*Checkbox*/
.checkbox {
  position: relative;
  cursor: pointer;
  .checkbox-label {
	position: relative;
	display: inline-block;
	padding-left: 2rem;
	&:before {
	  content: ' ';
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 1.5rem;
	  width: 1.5rem;
	  background: transparent;
	}
	&:after {
	  content: ' ';
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 1.5rem;
	  width: 1.5rem;
	  border: 1px solid lighten($text-color, 5%);
	  border-radius: .2rem;
	  background: transparent;
	  @include transition(border-color .3s, transform .3s, height .3s);

	}
  }
  input {
	height: 1.5rem;
	width: 1.5rem;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
	@include transition(all .3s);
  }
  input:checked ~ .checkbox-label:after {
	border-top-style: none;
	border-right-style: none;
	border-radius: 0;
	@include transform(rotate(-45deg));
	height: .85rem;
	background: transparent;
	border-color: $primary-color;
  }
}