#cookies {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  max-width: 24rem;
  background-color: $base-color;
  z-index: 99999;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.07);
  box-shadow: 0 0 8px rgba(0,0,0,0.07);
  @include transition(transform .5s ease-out, opacity .3s);
  &.active {
	opacity: 0;
	@include transform(translateY(100%));
  }
  .highlighted {
	color: $secondary-color;
	&:hover {
	  text-decoration: underline;
	}
  }
  .btn-cookies {
	font-size: 1rem;
	background: $secondary-color;
	color: $base-color;
	border-radius: 0;
	width: 50%;
	border: none;
	padding: .375rem .75rem;
	text-align: center;
	line-height: 1.5;
	max-width: 17rem;
	&:hover {
	  background: darken($secondary-color, 10%);
	}
	&:focus {
	  box-shadow: none;
	  outline: 0;
	}
  }
  @media (max-width: 991px) {
	bottom: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	text-align: center;
	font-size: .9rem;
	padding: .8rem .5rem;
  }
}