/*Forms*/
form {
  input {
	border-radius: 0;
  }
  label {
	margin-bottom: 0;
  }
}
.form-control {
  height: auto;
  font-size: 1rem;
  font-weight: 500;
  background-color: lighten($base-color, 10%);
  border: none;
  box-shadow: none;
  &:focus {
	border-color: $primary-color;
	@include box-shadow(0, 0, 0, 0.2rem, rgba($primary-color, .25));
  }
}
.input-group {
  width: 8rem;
  border: 1px solid $border-color;
  border-radius: 2rem;
  overflow: hidden;
  button {
	border: none;
	background-color: lighten($base-color, 10%);
	color: darken($border-color, 20%);
	padding: 0 1rem;
	&:focus {
	  outline: none;
	  box-shadow: none;
	}
  }
  .form-control {
	&:focus {
	  border: none;
	  box-shadow: none;
	}
  }
  input {
	padding: 0;
	min-height: 3rem;
	text-align: center;
  }
}

#kontakt-form {
  .form-control {
	padding: .75rem 1rem;
  }
}