.icon-xxs {
  svg {
	width: 1rem;
	height: 1rem;
  }
}
.icon-xs {
  svg {
	width: 1.5rem;
	height: 1.5rem;
  }
}
.icon-sm {
  svg {
	width: 2rem;
	height: 2rem;
  }
}
.icon-md {
	svg {
	  width: 2.5rem;
	  height: 2.5rem;
	}
}
.icon-lg {
  svg {
	width: 3rem;
	height: 3rem;
  }
}
.icon-xl {
  svg {
	width: 6.8rem;
	height: 6.8rem;
	@media (max-width: 575px) {
	  width: 4rem;
	  height: 4rem;
	}
  }
}
.icon-gold {
  color: $tertiary-color;
}
.icon-holder {
  position: relative;
  display: inline-block;
}