.lightbox {
  .lb-outerContainer {
	border-radius: 0;
  }

  .lb-image {
	border: none;
	border-radius: 0;
  }
}

#lightboxOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

#lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
}
.lb-dataContainer {
  position: absolute;
  left: 0;
  right: 0;
}