/*Loader*/
#loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  background-color: $base-color;
  z-index: 2;
  .spinner-wrap {
	width: 4.75rem;
	height: 4.75rem;
	position: relative;
	svg {
	  width: 4.75rem;
	  -webkit-transform-origin: center;
	  -ms-transform-origin: center;
	  transform-origin: center;
	  -webkit-animation: rotate 2s linear infinite;
	  animation: rotate 2s linear infinite;
	}
	circle {
	  fill: none;
	  stroke: $primary-color;
	  stroke-width: 2;
	  stroke-dasharray: 1, 200;
	  stroke-dashoffset: 0;
	  stroke-linecap: round;
	  -webkit-animation: dash 1.5s ease-in-out infinite;
	  animation: dash 1.5s ease-in-out infinite;
	}
  }
}