/*Owl Slider*/
.owl-carousel {
  .owl-dots {
	text-align: center;
	margin-top: 3rem;
	.owl-dot {
	  background: $border-color;
	  width: 1.25rem;
	  height: 1.25rem;
	  border-radius: 50%;
	  border: 3px solid $border-color;
	  margin: .3rem;
	  &.active {
		background-color: $primary-color;
	  }
	  &:focus {
		outline: none;
	  }
	}
  }
  .owl-item {
	opacity: 0;
	@include transition(opacity .3s);
	&.active {
	  opacity: 1;
	}
  }
}