.modal-own {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background-color: rgba(black, .5);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  @include transition(all .3s);
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  &.active {
	opacity: 1;
	visibility: visible;
	.modal-own-wrapper {
	  @include transform(rotate(0) scale(1));
	}
  }
  &.success {
	.modal-own-wrapper {
	  @include transform(rotate(-50deg) scale(0));
	}
	.modal-own-success {
	  @include transform(scale(1));
	  .fas {
		animation: rocket ease 2s 1 both;
		animation-delay: 1s;
	  }
	}
  }
}
.modal-own-wrapper {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-flow(column);
  min-height: calc(100% - 3.5rem);
  position: relative;
  width: auto;
  max-width: 500px;
  margin: 1.75rem auto;
  @include transform(rotate(-50deg) scale(0));
  @include transition(transform .5s);
}
.modal-own-body {
  position: relative;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-flow(column);
  text-align: center;
  width: 100%;
  background: $base-color;
  padding: 2rem;
  @include box-shadow(0, 0, 42px, 6px, rgba(0,0,0,0.08));
  &> * {
	width: 100%;
  }
}
.modal-own-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $primary-color;
  color: $text-color-reversed;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  @include transform(translate(40%, -40%) scale(1));
  @include transition(transform .5s);
  .fas {
	font-size: 1.1rem;
	@include transition(transform .5s);
  }
  &:hover {
	@include transform((40%, -40%) scale(1.1));
	.fas {
	  @include transform(rotate(360deg));
	}
  }
}
.modal-own-success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include transform(scale(0));
  @include transition(transform .3s .5s);
  overflow: hidden;
  .fas {
	opacity: 0;
	position: absolute;
	width: 50px;
	height: 50px;
	@include transform(translateY(-50%));
  }
}