#references {
  position: relative;
  @media (max-width: 991px) {
	background-color: $text-color-reversed;
  }
}
#references-list {
  .reference-holder {
	background-color: $text-color-reversed;
	margin-bottom: 3rem;
	&:last-child {
	  margin-bottom: 0;
	}
	&:nth-child(odd) {
	  margin-left: auto;
	}
	width: 96%;
	@media (max-width: 991px) {
	  width: 100%;
	  margin-left: 0;
	}
  }
}
#references-detail {
  h1 {
	max-width: 60rem;
	margin: 0 auto;
  }
  .reference-holder {
	background-color: $text-color-reversed;
  }
  .form-control {
	padding: .75rem 1rem;
  }
}
.overlay {
  padding: 6.3rem;
  @media (max-width: 991px) {
	padding: 0;
  }
  background-color: $text-color-reversed;
}
.reference-holder {
  @include flexbox();
  @media (max-width: 991px) {
	@include flex-wrap(wrap);
  }
  border: 1px solid $border-color;
  width: calc(100% - 2px);
  small {
	display: block;
	opacity: .5;
	font-size: 85%;
  }
}
.reference-content {
  width: 75%;
  @media (max-width: 991px) {
	width: 100%;
	border-right: none;
	padding-bottom: 0;
  }
  @media (max-width: 767px) {
	padding: 2rem 2rem 0 2rem;
  }
  border-right: 1px solid $border-color;
  padding: 3.75rem;
  h5 {
	color: $text-dark-color;
	font-size: 1.1rem;
	margin-bottom: 0;
  }
  h3 {
	display: inline-block;
	margin-top: 1.4rem;
	margin-bottom: 1rem;
	color: $primary-color;
  }
}
.reference-review {
  width: 25%;
  min-width: 21rem;
  padding: 5.6rem;
  @media (max-width: 991px) {
	padding: 0 1.5rem 1.5rem 1.5rem;
	min-width: auto;
	width: auto;
	margin: 0 auto;
	text-align: center;
  }
  .ranking {
	font-size: 1.5rem;
	font-weight: bold;
	color: $text-dark-color;
  }
}
.reference-img {
  position: relative;
  width: 100%;
  padding-top: calc(100% - 2rem);
  border-radius: 100%;
  border: 1rem solid $border-color;
  overflow: hidden;
  @media (max-width: 991px) {
	padding-top: calc(100% - 1rem);
	border: .5rem solid $border-color;
  }
  img {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
  }
}
.reference-more-info {
  @include flexbox();
  @include align-items(center);
  @include flex-wrap(wrap);
  margin-top: 2.5rem;
  @media (max-width: 991px) {
	@include justify-content(center);
  }
}
.comments-count {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $secondary-color;
  margin: 2rem;
  .count {
	color: $text-color;
  }
}

.review {
  background-color: $text-color-reversed;
  padding: 3.75rem;
  border: 1px solid $border-color;
  margin-bottom: 1rem;
}
