/*Slider*/
#slider {
  position: relative;
  min-height: calc(100vh - #{$header-sticky-md});
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 991px) {
	background-size: cover;
  }
  color: $text-color;
  &.active {
	opacity: 1;
  }
  &.half-slider {
	background-position: center center;
	min-height: calc( (100vh - #{$header-sticky-md}) / 2);
	.slider-content-wrap {
	  min-height: calc( (100vh - #{$header-sticky-md}) / 2);
	}
  }
  .slider-content-wrap {
	font-family: $head-font;
	min-height: calc(100vh - #{$header-sticky-md});
  }
  @media (max-width: 991px) {
	min-height: calc(100vh - #{$header-sticky-sm});
	&.half-slider {
	  min-height: calc( (100vh - #{$header-sticky-md}) / 2);
	  .slider-content-wrap {
		min-height: calc( (100vh - #{$header-sticky-md}) / 2);
	  }
	}
	.slider-content-wrap {
	  min-height: calc(100vh - #{$header-sticky-sm});
	}
  }
  //#addItemToShoppingCart {
	//&:hover {
	//  .price-holder {
	//	span {
	//	  opacity: 0;
	//	}
	//	.cart-icon {
	//	  opacity: 1;
	//	}
	//  }
	//}
  //}
}
.slider-content {
  position: relative;
  z-index: 2;
  max-width: 90%;
  margin: 0 auto;
  @media (max-width: 991px) {
	text-align: center;
  }
  min-height: inherit;
  width: 100%;
  h1 {
	color: $secondary-color;
	@media (min-width: 992px) {
	  font-size: 10.5rem;
	}
	@media (min-width: 1200px) {
	  font-size: 11.5rem;
	}
	@media (min-width: 1366px) {
	  font-size: 13rem;
	}
	@media (min-width: 1440px) {
	  font-size: 14rem;
	}
	@media (min-width: 1600px) {
	  font-size: 15.5rem;
	}
	//font-size: calc(1rem + 11vw);
	text-transform: uppercase;
	line-height: .8;
	margin-bottom: 0;
	@media (max-width: 991px) {
	  font-size: 5.4rem;
	}
	@media (max-width: 575px) {
	  font-size: 3.6rem;
	}
	&.span {
	  color: $primary-color
	}
  }
  p {
	font-family: $text-font;
	color: $text-color;
	font-size: 1.1rem;
  }
  .img-full {
	max-width: 100%;
	height: auto;
	@media (max-width: 991px) {
	  display: none;
	}
  }
}
.slider-content-text {
  max-width: 61%;
  margin-top: .5rem;
  @media (max-width: 991px) {
	position: relative;
	top: auto;
	max-width: 100%;
  }
}
.slider-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
}
.slider-heading-wrap {
  position: relative;
  .price-holder {
	width: calc(1rem + 9vw);
	height: calc(1rem + 9vw);
	background: $primary-color;
	border-radius: 50%;
	padding: 1rem;
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
	@include flex-direction(column);
	color: $text-color-reversed;
	line-height: 1;
	font-size: calc(1rem + .5vw);
	position: absolute;
	top: 50%;
	left: 63%;
	span {
	  display: block;
	  //@include transition(opacity .3s);
	  -webkit-animation-name: blinkOut;
	  animation-name: blinkOut;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-direction: alternate;
	  animation-direction: alternate;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-duration: 4s;
	  animation-duration: 4s;
	  &.price {
		font-size: calc(1rem + 1vw);
	  }
	}
	.cart-icon {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  text-align: center;
	  @include transform(translate(-50%,-50%));
	  //@include transition(opacity .3s);
	  -webkit-animation-name: blinkIn;
	  animation-name: blinkIn;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  -webkit-animation-direction: alternate;
	  animation-direction: alternate;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-duration: 4s;
	  animation-duration: 4s;
	  opacity: 0;
	  svg {
		position: relative;
		left: -.2rem;
		width: 80%;
		max-width: 5rem;
	  }
	}
	@media (max-width: 991px) {
	  width: calc(5rem + 5vw);
	  height: calc(5rem + 5vw);
	  top: 0;
	  span {
		font-size: calc(.5rem + 1vw);
		&.price {
		  font-size: calc(1rem + 1vw);
		}
	  }
	}
  }
  .img-float {
	position: absolute;
	top: 19%;
	left: 65%;
	max-width: calc(22rem + 11vw);
	height: auto;
	@media (max-width: 991px) {
	  position: relative;
	  top: auto;
	  left: auto;
	  max-width: calc(12rem + 11vw);
	  margin-bottom: 1rem;
	}
  }
}