.tooltip {
  font-size: 1.2rem;
}
.bs-tooltip-top {
  margin-bottom: .5rem;
}
.tooltip-inner {
  background-color: $primary-color;
}
.bs-tooltip-top {
  .arrow {
	&::before {
	  border-top-color: $primary-color;
	}
  }
}
.bs-tooltip-left {
  .arrow {
	&::before {
	  border-left-color: $primary-color;
	}
  }
}
.bs-tooltip-right {
  .arrow {
	&::before {
	  border-right-color: $primary-color;
	}
  }
}
.bs-tooltip-bottom {
  .arrow {
	&::before {
	  border-bottom-color: $primary-color;
	}
  }
}
