/*Base variables*/
$text-font: 'Poppins', sans-serif;
$head-font: 'Baloo Bhai', cursive;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$header-sticky-md: 142px;
$header-sticky-sm: 60px;
$header-top: 36px;

$base-color: #f0f3f7;
$primary-color: #90b716;
$secondary-color: #006f30;
$tertiary-color: #374258;
$border-color: #dfe4eb;

$blackColor: #3b3334;
$text-color: #374258;
$text-dark-color: #515151;
$text-highlight-color: #ae9b4e;
$text-color-reversed: #ffffff;

$section-padding-md: 6rem 0;
$section-padding-sm: 3rem 0;

$slider-padding-md: 6rem 0;
$slider-padding-sm: 3rem 0;

$footer-padding-md: 3.75rem 0;;
$footer-padding-sm: 3rem 0;;

$transition-time: .3s;

$colors: (
	'purple': #9C27B0,
	'pink': #ff4081,
	'blue': #00BCD4,
	'red': #FF5252,
	'orange': #FF6F00,
	'green': #43A047,
	'dark': #000000,
	'transparent': transparent
);

$alert-colors: (
	'purple': #9C27B0,
	'pink': #ff4081,
	'blue': #00BCD4,
	'red': #FF5252,
	'orange': #FF6F00,
	'green': #43A047,
	'transparent': transparent
);

$alert-primary-color: #009688;
$alert-text-color: #ffffff;
