/*Variables Admin Bar*/
$base-color-admin-bar: #009688;
$text-color-admin-bar: #ffffff;


#admin-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 3rem;
  height: 100%;
  min-height: 100vh;
  padding-top: 0;
  background: $base-color-admin-bar;
  box-shadow: none;
  z-index: 99;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-hidden-scrollable;
  @include transition(width .3s);
  @include box-shadow(0, 2px, 5px, 0, rgba(0,0,0,0.1));
  #admin-menu {
	width: 100%;
	height: calc(100% - 80px);
	@include flexbox();
	@include flex-flow(column);
  }
  ul {
	@include flexbox();
	@include flex-flow(column);
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
	span {
	  color: $text-color-admin-bar;
	  font-size: .9rem;
	  white-space: nowrap;
	}
	a {
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	  height: 50px;
	  color: #ffffff;
	  transition: background-color .3s;
	}
	i {
	  display: inline-block;
	  min-width: 3rem;
	  text-align: center;
	  font-size: 1.2rem;
	  line-height: inherit;
	  margin-right: .5rem;
	  color: $text-color-admin-bar;
	}
	li {
	  text-align: center;
	  @include transition(background .3s);
	  &:hover {
		background-color: rgba(0, 0, 0, 0.15);
	  }
	  &.logout {
		margin-top: auto;
	  }
	}
  }
  .user-profile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 80px;
	background: darken($base-color-admin-bar, 7%);
	padding: 1rem 0;
	img {
	  width: 3rem;
	  padding: .5rem;
	  margin-right: .5rem;
	}
	.user-info {
	  color: $text-color-admin-bar;
	  font-size: .7rem;
	  p {
		margin-bottom: 0;
		&.name {
		  font-size: .9rem;
		}
	  }
	}
  }
  &:hover {
	width: 13rem;
  }
}

body {
  &.admin {
	padding-left: 3rem;
	#burger-menu {
	  padding-left: 3rem;
	}
  }
}
