.own-badge {
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
  color: $text-color-reversed-admin;
  background-color: $secondary-color-admin;
  border-radius: 2px;
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  line-height: 22px;
  height: 22px;
  box-sizing: border-box;
}

@each $badge, $color in $colors-admin {
  .own-badge {
	&.#{$badge} {
	  background-color: $color;
	  &.disabled {
		background-color: lighten($color, 20%);
	  }
	}
  }
}
