//Classic button
.own-btn {
  display: inline-block;
  color: $white-color-admin;
  background-color: $secondary-color-admin;
  padding: .5rem 1.2rem;
  font-size: .9rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  @include transition(all .3s ease-out);
  &:focus {
	outline: 0;
  }
  &:hover {
	color: $white-color-admin;
	background-color: lighten($secondary-color-admin, 10%);
  }
  &.disabled {
	cursor: default;
	pointer-events: none;
	box-shadow: none;
	color: $white-color-admin;
	background-color: lighten($secondary-color-admin, 20%);
  }
  &.full-width {
	width: 100%;
  }
}
@each $button, $color in $colors-admin {
  .own-btn {
	&.#{$button} {
	  background-color: $color;
	  &:hover {
		background-color: lighten($color, 5%);
	  }
	  &.disabled {
		background-color: lighten($color, 20%);
	  }
	}
  }
}
.own-btn {
  &.transparent {
	color: #444;
	box-shadow: none;
  }
}

//Rounded button with icon
.own-btn-icon {
  @extend .own-btn;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  &.disabled {
	cursor: pointer;
	pointer-events: auto;
	background-color: #DFDFDF;
	box-shadow: none;
	color: #9F9F9F;
  }
}
