.categorySortable {
  .ui-sortable-handle {
	margin: 10px 0;
	padding: 10px;
	color: #333;
	text-decoration: none;
	font-size: .95rem;
	font-weight: 500;
	background-color: #f9f9f9 !important;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  }
}
.categorySortableItem {
  transition: color .3s;
  &:hover {
	color: $secondary-color-admin;
  }
  .categoryToggler {
	font-size: 1.6rem;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	line-height: 1.2rem;
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
  }
}
.categorySortableWrap {
  padding-left: 1.8rem;
}
.categorySortableChild {
  min-height: 10px;
}