[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[type="checkbox"] + .checkmark {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 1rem;
  user-select: none;
}
[type="checkbox"]:checked + .checkmark:before {
  top: 1px;
  left: 0;
  width: 8px;
  height: 15px;
  border-top: 0 solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
  z-index: 1;
}
[type="checkbox"] + .checkmark:before,
[type="checkbox"]:not(.filled-in) + .checkmark:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 0;
  border: 1px solid #929292;
  border-radius: 1px;
  transition: .2s;
}
[type="checkbox"]:not(.filled-in):checked + .checkmark:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ff4081;
  background-color: #ff4081;
  z-index: 0;
}
[type="checkbox"].filled-in + .checkmark:before,
[type="checkbox"].filled-in + .checkmark:after {
  content: '';
  left: 0;
  position: absolute;
  @include transition(border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s);
  z-index: 1;
}