.dashboard-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(center);
  li {
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
	@include flex-flow(column);
	width: calc(25% - 20px);
	min-width: 12rem;
	background: $primary-color-admin;
	border-radius: .2rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	margin: 10px;
	text-align: center;
	color: $white-color-admin;
	@include transition(background .3s);
	i {
	  text-align: center;
	  display: block;
	  margin: auto;
	  margin-bottom: .5rem;
	  font-size: 1.2rem;
	}
	&:hover {
	  background-color: darken($primary-color-admin, 10%);
	}
	a {
	  display: block;
	  width: 100%;
	  height: 100%;
	  padding: 1rem 2rem;
	  color: inherit;
	}
  }
}