.dashboardBox {
  background-color: $base-color-admin;
  border-radius: .2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .3s;
  text-align: center;
  color: $white-color-admin;
  overflow: hidden;
  h4 {
	color: $white-color-admin;
	margin-top: .3rem;
	margin-bottom: .6rem;
  }
  p {
	margin-bottom: 0;
	font-size: .95rem;
  }
  .dashboardBoxInfo {
	padding: .8rem;
  }
  .dashboardBoxChart {
	height: 50px; //remove after insert Chart
	padding: .8rem;
	background-color: rgba(#000000, .15);
  }
  &.blue {
	background-color: #00BCD4;
  }
  &.red {
	background-color: #FF5252;
  }
  &.orange {
	background-color: #FF6E40;
  }
  &.green {
	background-color: $primary-color-admin;
  }
  i {
	margin-right: .5rem;
  }
}