.edit-text-parent {
  position: relative;
  &:hover {
	.edit-pencil-btn {
	  opacity: 1;
	}
  }
}
.edit-pencil-btn {
  opacity: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #8BC34A;
  border: none;
  color: white;
  @include transition(opacity.3s);
  &:focus {
	outline-color: currentColor;
  }
}