a {
  color: $secondary-color-admin;
  outline: 0;
  &:hover {
    color: lighten($secondary-color-admin, 10%);
    text-decoration: none;
  }
}
body {
  min-height: calc(100vh + 1px);
  @include flexbox();
  @include flex-flow(column);
  background: $base-color-admin;
  font-family: $text-font;

  font-size: 1rem;
  font-weight: 400;
  color: $text-color-admin;
}
h1,h2,h3,h4,h5 {
  color: $text-color-admin;
  font-weight: 400;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.804rem;
  margin: 0;
}
h2 {
  line-height: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
main {
  margin-top: 64px;
  @include flex-grow(1);
  overflow: hidden;
}
textarea {
  resize: vertical;
}
.font-weight-semibold {
  font-weight: 500;
}
.form-control {
  min-width: 150px;
  height: auto;
  padding: .375rem 1rem;
  font-size: .95rem;
  line-height: 1.5;
  color: #4F5467;
  background-color: $white-color-admin;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  @include transition(border-color .15s ease-in-out, box-shadow .15s ease-in-out);
  &:focus {
	color: #4F5467;
	background-color: #fff;
	border-color: rgba(0,0,0,.25);
	outline: 0;
	box-shadow: none;
  }
}
.input-group {
  input {
	padding-right: 2.5rem;
  }
}
.input-group-addon {
  position: absolute;
  top: 50%;
  right: 0;
  opacity: .5;
  width: 2rem;
  text-align: center;
  height: 100%;
  line-height: 2.35rem;
  background: #f3f3f3;
  @include transform(translateY(-50%));
  z-index: 10;
}
.richText-toolbar {
  ul {
	padding: 0;
	margin: 0;
  }
}
.tooltip {
  &.bs-tooltip-right {
	.arrow {
	  &:before {
		border-right-color: #707070;
	  }
	}
  }
  &.bs-tooltip-top {
	.arrow {
	  &:before {
		border-top-color: #707070;
	  }
	}
  }
  &.bs-tooltip-left {
	.arrow {
	  &:before {
		border-left-color: #707070;
	  }
	}
  }
  &.bs-tooltip-bottom {
	.arrow {
	  &:before {
		border-bottom-color: #707070;
	  }
	}
  }
}
.tooltip-inner {
  background: #707070;
}

