/*Admin TopHeader*/
header {
  &.admin {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: $primary-color-admin;
	z-index: 999;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}
.admin-header {
  width: 100%;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  padding: 0 1.3rem;
  margin: auto;
  height: 64px;
  .left-side {
	@include flexbox();
	@include justify-content(flex-start);
	@include align-items(center);
	height: inherit;
  }
  .logo-link {
	height: inherit;
  }
  img {
	height: inherit;
	padding: .6rem 0;
  }
  i {
	color: $white-color-admin;
	font-size: 1.3rem;
  }
  .animated-icon {
	position: relative;
  }
}
.admin-menu-toggle {
  display: none;
  cursor: pointer;
  margin-right: 1rem;
  width: 2rem;
  height: 100%;
  position: relative;
  .close-bar {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
	@include transition(opacity .3s);
  }
  .open-bar {
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
	@include transition(opacity .3s);
  }
  &.active {
	.close-bar {
	  opacity: 1;
	}
	.open-bar {
	  opacity: 0;
	}
  }
}
#admin-header-menu {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  height: 100%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
