.flex-wrapper {
  @include flexbox();
  @include flex-flow(column);
  height: 100%;
}
#login {
  min-height: 100vh;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-flow(column);
  .card {
	width: 100%;
	max-width: 32rem;
	margin: 1.5rem auto;
	border: none;
	box-shadow: 0 0 42px 6px rgba(0,0,0,0.05);
	background-color: #ffffff;
	padding: 2rem;
	&.xl {
	  max-width: 60rem;
	}
	.card-header {
	  padding: 0;
	  margin-bottom: 1rem;
	  background: transparent;
	  border: none;
	  text-align: center;
	}
	.card-body {
	  padding: 0;
	}
  }
  h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
  }
  input,
  textarea,
  select {
	border-radius: 2rem;
	padding: .7rem 2rem;
	height: auto;
	&:focus {
	  box-shadow: none;
	  border-color: #26B4FF;
	}
  }
  .own-btn {
	text-transform: unset;
  }
  .lost-password {
	color: rgba($text-color-admin, .8);
  }
}