@media (max-width: 1400px) {
  table {
	font-size: .9rem;
  }
}


@media (max-width: 1366px) {
  .admin-menu-toggle {
	display: block;
  }
  #admin-content-wrap {
   margin-left: 0;
  }
  #admin-bar {
	@include transform(translateX(-110%));
  }
  .admin-header {
	padding: 0 .5rem;
  }
}

@media (max-width: 991px) {
  thead {
	display: none;
  }
  tbody tr,
  tfoot tr {
	display: flex !important;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);
	@include align-items(center);
	border-bottom: 1px solid #ededed !important;
	text-align: center;
  }
  tbody tr {
	&:last-child {
	  border-bottom: 0 !important;
	}
  }
  tbody tr td,
  tfoot tr td {
	display: block;
	width: 100%;
	border-top: 0 !important;
  }
  .responsive-desc {
	display: block;
  }
  .checkboxWrap {
	display: none;
  }
  table tr {
	padding: 1rem 0;
  }
}
@media (max-width: 767px) {
  .categoryOptionButtons {
	width: 100%;
	.own-btn-icon {
	  font-size: .85rem;
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	}
  }
}
@media (min-width: 576px) {
  .modal-dialog {
	max-width: 570px;
  }
}