.card-wrapper {
  .card-content {
	padding: 0;
  }
  .card-head {
	padding: 10px 20px;
	border-radius: .3rem .3rem 0 0;
	background: $primary-color-admin;
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
	cursor: pointer;
	@include transition(border-radius .3s, background-color .3s);
	h2 {
	  color: $white-color-admin;
	  margin-bottom: 0;
	  font-size: 1.1rem;
	  text-transform: unset;
	}
	.toggleIconClose {
	  color: $white-color-admin;
	  font-size: 1rem;
	  @include transform(rotate(45deg));
	  @include transition(all $transition-time-admin);
	}
	&.deactive {
	  border-radius: .3rem;
	  background: $secondary-color-admin;
	  .toggleIconClose {
		@include transform(rotate(0));
	  }
	}
  }
  .cardInnerBody {
	padding: 20px;
	border-radius: .3rem;
  }
}
.productCategoryWrap {
  height: 300px;
  overflow: auto;
  position: relative;
}
.productCategoryWrap {
  .form-check {
	position: relative;
	display: block;
	margin-bottom: 6px;
	padding: .7rem .7rem .7rem 2rem;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	background-color: #f9f9f9 !important;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	label {
	  margin-bottom: 0;
	}
  }
}
/*Photos*/

.photoItem {
  position: relative;
  border: 1px solid #d5d5d5;
}
.photoWrap {
  height: 300px;
  position: relative;
  img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .own-btn-icon.red {
	position: absolute;
	top: .5rem;
	right: .5rem;
  }
  .own-btn-icon.green {
	position: absolute;
	top: 3.5rem;
	right: .5rem;
  }
}
.productPhotoInfo {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  input {
	border-radius: 0;
  }
}
#productAdminPhotos {
  .form-group {
	margin-bottom: 0;
  }
}
.photoContainer {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.photoInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5rem;
  background-color: $tertiary-color-admin;
  input {
	width: 100%;
	border: 1px solid #d5d5d5;
	margin-bottom: .5rem;
	padding: .3rem .8rem;
  }
}
.photoEdit {
  position: absolute;
  top: 10px;
  right: 10px;
}
#photoInputDiv {
  position: relative;
}
.fileContainer_label {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-flow(column);
  height: 300px;
  width: 100%;
  opacity: 1;
  background-color: #dddddd;
  text-align: center;
  border: #cecece 2px solid;
  cursor: pointer;
  z-index: 0;
}
.fileContainer {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
}