/*Admin SideBar*/
#admin-bar {
  height: calc(100vh - 64px);
  width: 240px;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 1030;
  background: $white-color-admin;
  font-weight: normal;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  @include transition(transform .5s);
  &.active {
	@include transform(translateX(0));
  }
}
.user-profile {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  background: url('../../images/admin/user-background.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1rem .5rem;
  p {
	margin-bottom: 0;
	font-size: .8rem;
	color: $white-color-admin;
	&.name {
	  font-weight: 600;
	  font-size: .9rem;
	}
  }
  img {
	width: 25%;
	margin-right: 1rem;
	border-radius: 50%;
	padding: .3rem;
	@include transition(transform .5s);
  }
  &:hover {
	img {
	  @include transform(rotate(-360deg) scale(1.1));
	}
  }
}
#admin-menu {
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	a,
	.parent-category {
	  @include flexbox();
	  @include justify-content(flex-start);
	  @include align-items(center);
	  padding: .8rem 1rem;
	  color: #4a4a4a;
	  width: 100%;
	  height: 100%;
	  cursor: pointer;
	}
	i {
	  display: inline-block;
	  width: 2rem;
	  font-size: 1.2rem;
	  line-height: inherit;
	  text-align: center;
	  margin-right: 1.2rem;
	  color: #6a6a6a;
	}
	span {
	  font-size: .9rem;
	  font-weight: 400;
	  white-space: nowrap;
	}
	li {
	  @include transition(background-color .3s);
	  &:hover {
		background-color: rgba(0, 0, 0, 0.04);
	  }
	  &.active {
		background-color: rgba(0, 0, 0, 0.05);
	  }
	}
	&.children {
	  display: none;
	  li {
		&.active {
		  background-color: $primary-color-admin;
		  a {
			color: $white-color-admin;
		  }
		  i {
			color: $white-color-admin;
		  }
		}
	  }
	  i {
		font-size: .7rem;
	  }
	}
  }
}