.source-code-textarea {
  background: url('../../images/admin/lines.png');
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
  font-size: 11px;
}