.table {
  font-size: .9rem;
  img {
	width: 48px;
	height: 48px;
	object-fit: cover;
  }
  .checkboxWrap {
	text-align: center;
	label {
	  margin-bottom: 0;
	}
  }
  .productName {
	a {
	  color: #ff4081;
	  font-weight: 500;

	  &:hover {
		color: lighten(#ff4081, 10%);
	  }
	}
  }
  thead {
	th {
	  border-top: none;
	}
  }
  td {
	vertical-align: middle;
  }
  td, th {
	border-top: 1px solid #eceeef;
	white-space: nowrap;
	& a {
	  white-space: pre-wrap;
	}
  }
  tr {
	@include transition(background-color .3s);
  }
  tbody {
	tr:hover {
	  background-color: #f5f5f5;
	}
  }
}
.responsive-desc {
  display: none;
  font-size: .8rem;
  font-weight: 600;
}
