$text-font: 'Poppins', sans-serif;

$base-color-admin: #F9F9F9;

$primary-color-admin: #1DA680;
$secondary-color-admin: #ff4081;
$tertiary-color-admin: #ededed;


$text-color-admin: #292b2c;
$text-color-reversed-admin: #ffffff;
$white-color-admin: #ffffff;

$transition-time-admin: .3s;

$colors-admin: (
  'purple': #9C27B0,
  'pink': #ff4081,
  'blue': #00BCD4,
  'red': #FF5252,
  'orange': #FF6F00,
  'green': #90B716,
  'gold': #ccb700,
  'transparent': transparent
);

$alert-colors: (
		'purple': #9C27B0,
		'pink': #ff4081,
		'blue': #00BCD4,
		'red': #FF5252,
		'orange': #FF6F00,
		'green': #43A047,
		'transparent': transparent
);
$alert-primary-color: #009688;
$alert-text-color: #ffffff;
